<div>
   <div id="viewport" ng-controller="MainCtrl as card" data-ng-init="getNextComments()">
    <ul class="stack" swing-stack swing-options="options">
            <li id="tip1"
                swing-card
                swing-on-throwout="throwout(eventName, eventObject)"
                swing-on-throwoutleft="throwoutleft(eventName, eventObject)"
                swing-on-throwin="throwin(eventName, eventObject)"
                swing-on-dragstart="dragstart(eventName, eventObject)"
                swing-on-dragmove="dragmove(eventName, eventObject)"
                swing-on-dragend="dragend(eventName, eventObject)"
                ng-repeat="card in cards" ng-class="card.name" data-commentid={{card.id}} class="{{card.category | lowercase}} mb-wrap mb-style">
              <blockquote class="cardBody" style="border-left:none;">
                  <p>{{card.texto}}</p>
                </blockquote>
                <!--<div class="card-action">
                  <div class="col-xs-4 divider-vertical glyphicon-class">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    <i> {{card.negativeVotes}} </i>
                  </div>
                  <div class="col-xs-4 divider-vertical"></div>
                  <div class="col-xs-4 glyphicon-class"
                    swing-card
                    swing-on-throwoutleft="throwoutleft(eventName, eventObject)">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <i> {{card.positiveVotes}} </i>
                  </div>
                </div>-->
              <div class="mb-attribution">
                <p class="mb-author"><img src="images/logo-latam-blanco.jpg" alt=" Logo LATAM" width="100"></p>
              </div>
            </li>
        </ul>
    </div>
</div>
<!-- at the bottom of the page -->
<tour step="currentStep" ng-app="TourApp" ng-controller="TourCtrl">
  <virtual-step tourtip="tip 1" tourtip-element="#tip1" tourtip-next-label="Next"
                tourtip-placement="right" tourtip-margin="0"
                tourtip-offset-vertical="0"
                tourtip-offset-horizontal="0"
                on-show="someFunc"
                on-proceed="someFunc"> Bienvenidos!!!</virtual-step>
  <virtual-step tourtip="tip 2" tourtip-element="#tip2"></virtual-step>
  <virtual-step tourtip="You can use it as an attribute on your element" tourtip-element="#input1"></virtual-step>
  <virtual-step
                tourtip="Full options"
                tourtip-step="2"
                tourtip-next-label="Next"
                tourtip-placement="right"
                tourtip-container-element="body"
                tourtip-margin="0"
                tourtip-offset-vertical="0"
                tourtip-offset-horizontal="0"
                on-show="someFunc"
                on-proceed="someFunc"
                use-source-scope="false"
                tourtip-element="#full1"></virtual-step>
</tour>
